

<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>UCHIFURUについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to '利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to '注意事項', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>UCHIFURUを見る</h2>
      <ul>
        <li><%= link_to 'MYページ', "#", class: "footer-link" %></li>
        <li><%= link_to 'イベント一覧', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>UCHIFURUについて</h2>
      <ul>
        <li><%= link_to 'UCHIFURUガイド', "#", class: "footer-link" %></li>
        <li><%= link_to '友だちに教える', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <%= link_to image_tag("logowhite.png", class:"logo-white"), "#" %>
</div>