<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'></div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>

  <%# コンセプト %>
  <div class="concept">
  <h2 class="concept-title">
  「美味しい」で一緒に繋がろう。
  </h2>
  <p class ="concept-subtitle">

Let's connect with everyone through "delicious".<br>
Here is an experience that will satisfy your mind and body
  </p>

  <div class="concept-information">
  新しい食体験を通じて、<br>
  人に出会い、文化を知り、地域で繋がる。<br>
  オンラインでどこからでも参加可能な料理教室と<br>
  地域のとれたて食材で食卓を共有。<br>
  料理教室の先生は食材提供して下さる地域の皆様。<br>
  好きが人を繋げる。<br>
  ここにしかないワクワクを体験しよう。
  </div>
</div>
  <%# コンセプト %>
  <%# FURIMAが選ばれる3つの理由部分 %>
  <div class='select-reason-contents'>
    <h2 class='concept-title'>
      「お家にご当地」で、繋がろう。
    </h2>
    <p class ="concept-subtitle">

Let's connect with everyone through "delicious".<br>
Here is an experience that will satisfy your mind and body
  </p>

    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "furima-intro01.png", class:"list-pict" %>
       
        <h3 class='reason-list-text'>
          食材が届く
        </h3>
        <p class='reason-list-description'>
          スマホで入力するだけで簡単に出品できる！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "furima-intro02.png", class:"list-pict" %>
        <h3 class='reason-list-text'>
          一緒に作る
        </h3>
        <p class='reason-list-description'>
          めんどくさい入力は必要なく、検索も購入もスムーズ！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "furima-intro03.png", class:"list-pict" %>
        <h3 class='reason-list-text'>
          一緒に食べる
        </h3>
        <p class='reason-list-description'>
          10%でお得に出品&購入！
        </p>
      </li>
    </ul>
  </div>
  <%# /FURIMAが選ばれる3つの理由部分 %>

  <%# 画面中央の「会員数日本一位」帯部分 %>
  <div class='ad-contents'>
    <h2 class='ad-title'>
      会員数日本一位
    </h2>
    <p class='ad-explain'>
      FURIMAは、フリマアプリで最も人気。
    </p>
    <p class='ad-explain'>
      出品・購入回数も業界最多です！
    </p>
    <p class='ad-explain'>
      ほしかったあの商品に出会えるかもしれません。
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
    
    </div>
  </div>
  <%# /画面中央の「会員数日本一位」帯部分 %>

  

  <div class='item-contents'>
    <h2 class='title'>ピックアップカテゴリー</h2>
    <%= link_to '新規投稿商品', "#", class: "subtitle" %>
    <ul class='item-lists'>

      <%# 商品一覧 %>
    <% if @lessons.present? %>
      <% @lessons.each do |lesson|%>
        <li class='list'>
          <%= link_to  lesson_path(lesson.id), method: :get do  %>
            <div class='item-img-content'>
              <%= image_tag lesson.image, class: "item-img" %>

        
              <%# 定員オーバーの場合、売切表示 %>
              <% @stock = Order.where(lesson_id: lesson.id).count %>
              <%if @stock >= lesson.capacity.id %>
              <div class='sold-out'>
                <span>Sold Out!!</span>
              </div>
              <% end %>
              <%# 定員オーバーの場合、売切表示 %>
            

            </div>
            <div class='item-info'>
              <h3 class='item-name'>
                <%= lesson.name %>
              </h3>
              <div class='item-price'>
                <span><%= lesson.price %>円<br><%= lesson.eventday %></span>
                <div class='star-btn'>
                  <%= image_tag "star.png", class:"star-icon" %>
                  <span class='star-count'>0</span>
                </div>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>

      

      <%# 商品がない場合のダミー表示、商品がある場合は表示されない %>
    <% else %>
      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            商品を出品してね！
          </h3>
          <div class='item-price'>
            <span>99999999円<br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>

<%= render "shared/footer" %>