<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
  <div class="prefecture-box">北海道</div>
    <h2 class="name">
      <%= @lesson.name %>
    </h2>
    
    <div class='item-img-content'>
     <%= image_tag (@lesson.image),class:"item-box-img" %>
     <% @stock = Order.where(lesson_id: @lesson.id).count %>
              <%if @stock >= @lesson.capacity.id %>
              <div class='sold-out'>
                <span>Sold Out!!</span>
              </div>
              <% end %>
     
    </div>
    <div class="item-price-box">
      <span class="item-postage">
        <%= @lesson.eventday %>
      </span>
    </div>

    
  <%unless @stock >= @lesson.capacity.id %>
  <% if user_signed_in? %>
      <% if current_user.id == @lesson.user_id  %>
        <%= link_to 'イベントの編集', edit_lesson_path(@lesson.id), method: :get, class: "item-red-btn" %>
        <p class='or-text'>or</p>
        <%= link_to '削除', lesson_path(@lesson.id), method: :delete, class:'item-destroy' %>
        <%# 商品が売れていない場合はこちらを表示しましょう %>
        <% else %>
          <% unless @stock >= @lesson.capacity.id %>
          <%= link_to "¥#{@lesson.price}⇨予約する", lesson_orders_path(@lesson.id) ,class:"item-red-btn"%>
          <% end %>
        <%# //商品が売れていない場合はこちらを表示しましょう %>
      <% end %>
    <% end %>
    <% end%>
    

    <%# イベント詳細 %>
    <div class="introduction">
    <h2 class="introduction-title">イベントおすすめポイント</h2>
      <p><%=safe_join(@lesson.introduction.split("\n"),tag(:br))%></p>
      <h2 class="introduction-title">お届け食材</h2>
      <p><%=safe_join(@lesson.delivery.split("\n"),tag(:br))%></p>
      <h2 class="introduction-title">ご用意いただくもの</h2>
      <p><%=safe_join(@lesson.bring.split("\n"),tag(:br))%></p>
      <h2 class="introduction-title">当日の料理メニュー</h2>
      <p><%=safe_join(@lesson.recipe.split("\n"),tag(:br))%></p>
      <h2 class="introduction-title">当日の流れ</h2>
      <p><%=safe_join(@lesson.flow.split("\n"),tag(:br))%></p>
    </div>

    <%# ここからテーブル %>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">イベント提供者</th>
          <td class="detail-value"><%= @lesson.user.name %></td>
        </tr>
        <tr>
          <th class="detail-item">申込締切日</th>
          <td class="detail-value"><%= "@lesson.deadline" %></td>
        </tr>
        <tr>
          <th class="detail-item">定員人数</th>
          <td class="detail-value"><%= "@lesson.capacity.id" %></td>
        </tr>
        <tr>
          <th class="detail-item">提供地域</th>
          <td class="detail-value"><%= @lesson.prefecture.name %></td>
        </tr>
      </tbody>
    </table>
   
     
    
    


  <%# /商品の概要 %>

  
  
</div>

<%= render "shared/footer" %>
